<a href="https://colab.research.google.com/github/sarahmuh/MASAR/blob/main/Workshop3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels= ['w','x','y','z']
list1=[10,20,30,40]

In [3]:
print(labels)

['w', 'x', 'y', 'z']

In [4]:
print(list1)

[10, 20, 30, 40]

In [5]:
type(labels)

list

In [6]:
a=pd.Series(data=list1)

In [7]:
print(a)

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
type(a)

pandas.core.series.Series

In [9]:
b = pd.Series(data=list1,index=labels)

In [10]:
print(b)

w    10
x    20
y    30
z    40
dtype: int64

In [11]:
a

0    10
1    20
2    30
3    40
dtype: int64

In [12]:
a[0]

10

In [13]:
a[3]

40

In [14]:
b

w    10
x    20
y    30
z    40
dtype: int64

In [15]:
b['w']

10

In [16]:
b['y']

30